

.blur{
    opacity: 1;
    transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    -ms-transition: all ease 0.5s;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
}

.blur:hover{
    opacity: 0.6;
}

#araka{
  display: inline-block;
  position:absolute;
  -ms-transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
  transform:translate(-50%,-50%);
}

/* Icons */

#araka a {    
  margin: 0 auto;
  color:#fff;
  border-bottom: none;
  text-align:center;
  font-family:fontawesome;
  position: relative;
  display: inline-block;
  width:40px;
  height:28px;
  padding-top:12px;
  margin:0 2px;
  -o-transition:all .5s;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
   -webkit-font-smoothing: antialiased;
}

#araka a:hover {
   text-decoration:none;
}

#araka #facebook:hover{    
   color:#3b5998 ;
}

#araka #twitter:hover{    
   color:#00aced ;
}

#araka #instagram:hover{    
   color: #bc2a8d ;
}

#araka #snapchat:hover{    
   color: #fffc00 ;
}

#araka #whatsapp:hover{    
   color: #34af23 ;
}

/* pop-up text */

#araka a span {
  color:#666;
  position:absolute;
  font-family:sans-serif;
  bottom:0;
  left:-25px;
  right:-25px;
  padding:5px 7px;
  z-index:-1;
  font-size:14px;
  border-radius:5px;
  background:#fff;
  visibility:hidden;
  opacity:0;
  -o-transition:all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -moz-transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all .5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

/* pop-up text arrow */

#araka a span:before {
  content:'';
  width: 0px; 
  height: 0px; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #fff;
  position:absolute;
  bottom:-5px;
  left:40px;
}

/* text pops up when icon is in hover state */

#araka a:hover span {
  bottom:20px;
  visibility:visible;
  opacity:1;
}

/* font awesome icons css codes */

#araka a:nth-of-type(1):before {
content:'\f09a';
}
#araka a:nth-of-type(2):before {
content:'\f099';
}
#araka a:nth-of-type(3):before {
content:'\f16d';
}
#araka a:nth-of-type(4):before {
content:'\f232';
}
#araka a:nth-of-type(5):before {
content:'\f2ac';
}
#araka a:nth-of-type(6):before {
content:'\f09b';
}


h1,h2,h3,h4,h5,h6,.grey,.details,.Skills{
font-weight: 400;
color: #757575;
}



body{
background-color: #f1f1f1;
}

.grey-box{
background-color:#f1f1f1;
border-radius: 15px;
width: 75%;
}

.teal-box{

border-radius: inherit;
background-color:#009688;
color:white;
height:0.3em;
}



#page{
background-color:#f1f1f1;
}

.index{
color: #a0a0a0;
margin: 0 auto;
}

.link{
text-decoration: none;
color: #606060;
border-bottom: 2px dotted #a0a0a0;
line-height: 20px;
}

a:hover{
color:#009688;
}


a:active, a:visited{
color:#009688;
border-bottom: 2px dotted #009688;
}


p{
color: #606060;
}

h5{
text-transform: uppercase;
}

ul{
list-style-type: katakana;
}

ul li a img{
display: inline-block;
text-align: center;
}


#things{
color: #f1f1f1;
}


.Skills{
    text-align: justify;

}

#headlines{
text-align: center;
letter-spacing: 5px;
word-spacing: 5px;
font-family: "Roboto", sans-serif;
color: #aaaaaa;
}

#top{
    transition: all ease-in 0.5s;
}

@media (max-width: 680px){

.left{

width: 85%;

}

.right, .education{
margin-bottom: 10px;
width: 85%;
}

body{
background-image: url(background.jpg);
}

.teal-box{
height: 0.3em;
}


}